fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
jinja2
ortools
psycopg2-binary
python-dotenv
httpx
pytest
pydantic
pydantic-settings
pytest-asyncio
pytest-cov
pytest-mock
sqlalchemy-schemadisplay